h1.h1CSSgrid, h2.h2Cssgrid {
    background-color: green;
    color: black;
    text-align: center;
}

h2.h2Cssgrid {
    background-color: yellowgreen;
    color: black;
    text-align: center;
}

p.p1 {
    background-color: rgb(226, 252, 173);
    color: black;
    text-align: center;
}