body {

background-color: yellowgreen;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
    
}


.a1, .a3, .a5, .a7, .a9, .a11 {
    
    color: black;
    
    
}


.a2, .a4, .a6, .a8, .a10, .a12 {
    
    color: black;
    
    
}


p.p1 {
    text-align: center;
}



.hp1 {
color: black;
text-align: center;
border: 5px solid black;
margin-bottom: 70px;

}


h2 {

    text-align: center;
    
    }



 .container-grid {

    display: grid;
    grid-template-columns: auto auto auto;    
    grid-gap: 10px;
    grid-auto-rows: 170px;
    /*align-items: center;*/
    border: 4px solid black;
    padding: 2em;
    margin-bottom: 30px;
}


.container-grid2 {

    display: grid;
    grid-template-columns: auto auto auto;    
    grid-gap: 10px;
    grid-auto-rows: 150px;
    /*align-items: center;*/
    border: 4px solid black;
    padding: 2em;
    margin-bottom: 30px;
        
}


.sectie1 {

    grid-column: 1;
    grid-row: 1;
    background-color: rgb(160, 98, 119);
    color: black;
    text-align: center;
    font-size: 20px;
    


}


.sectie2 {

    grid-column: 2;
    grid-row: 1;
    background-color: rgb(155, 85, 96);
    color: black;
    text-align: center;
    font-size: 20px;

}


.sectie3 {

    grid-column: 3;
    grid-row: 1;
    background-color: rgb(106, 37, 60);
    color: black;
    text-align: center;
    font-size: 20px;
}


.sectie4 {

    grid-column: 1;
    grid-row: 2;
    background-color: rgb(162, 130, 141);
    color: black;
    text-align: center;
    font-size: 20px;

}


.sectie5 {

    grid-column: 2;
    grid-row: 2;
    background-color: rgba(204, 153, 170, 0.726);
    color: black;
    text-align: center;
    font-size: 20px;
}


.sectie6 {

    grid-column: 3;
    grid-row: 2;
    background-color: rgb(251, 116, 161);
    color: black;
    text-align: center;
    font-size: 20px;

}


.sectie7 {

    grid-column: 1;
    grid-row: 1;
    background-color: rgb(184, 185, 87);
    color: black;
    text-align: center;
    font-size: 20px;
    


}


.sectie8 {

    grid-column: 2;
    grid-row: 1;
    background-color: rgb(223, 223, 117);
    color: black;
    text-align: center;
    font-size: 20px;

}


.sectie9 {

    grid-column: 3;
    grid-row: 1;
    background-color: rgb(189, 196, 94);
    color: black;
    text-align: center;
    font-size: 20px;
}


.sectie10 {

    grid-column: 1;
    grid-row: 2;
    background-color: rgb(188, 188, 35);
    color: black;
    text-align: center;
    font-size: 20px;

}


.sectie11 {

    grid-column: 2;
    grid-row: 2;
    background-color: rgb(186, 178, 33);
    color: black;
    text-align: center;
    font-size: 20px;
}


.sectie12 {

    grid-column: 3;
    grid-row: 2;
    background-color: rgb(145, 145, 55);
    color: black;
    text-align: center;
    font-size: 20px;

}